<ng-template #content>
  <div aria-labelledby="modalTitle">
    <div class="modal-header">
      <h3 class="modal-title" id="modalTitle">
        <ng-container *ngIf="this.survey.surveyState === 'USED'">Odwołaj spotkanie</ng-container>
        <ng-container *ngIf="this.survey.surveyState === 'UNUSED'">Dezaktywuj kod</ng-container>
      </h3>
      <button type="button" class="btn-close" aria-label="Zamknij modal" (click)="closeModal()">
        <span class="d-none">Zamknij modal</span>
      </button>
    </div>
    <div class="modal-body">
      <p class="mb-0">
        <ng-container *ngIf="this.survey.surveyState === 'USED'">Odwołanie spotkania spowoduje wygenerowanie nowego
          kodu.
        </ng-container>
        <ng-container *ngIf="this.survey.surveyState === 'UNUSED'">Dezaktywacja kodu spowoduje wygenerowanie nowego
          kodu.
        </ng-container>
      </p>
    </div>
    <div class="modal-footer px-0">
      <div class="w-100 row m-0 justify-content-between">
        <div class="col-6 col-sm-auto">
          <button type="button" class="w-100 btn btn-outline-primary" (click)="closeModal()">Anuluj
          </button>
        </div>
        <div class="col-6 col-sm-auto">
          <button type="button" class="w-100 btn btn-primary" (click)="deactivateCode()">Generuj kod</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
