.btn {
  border-radius: 0.25rem !important;
}

.btn-primary {
  background-color: $bg-primary;
  color: $text-primary;
  border-color: $primary-color;
  &:hover, &:focus, &:focus-visible, &:active, .active {
    background-color: $primary-color-hover !important;
    border-color: transparent !important;
  }
  &:focus, &:focus-visible, &:active {
    outline: $primary-color-hover;
    outline: 2px solid $text-dark !important;
    outline-offset:1px;
    box-shadow: unset !important;
    color:$text-primary !important;
  }
}

.btn-outline-primary {
  background-color: $bg-secondary;
  color: $text-secondary;
  border-color: $primary-color;
  &:hover, &:focus, &:focus-visible, &:active, .active {
    background-color: $primary-color-hover !important;
    border-color: transparent !important;
  }
  &:focus, &:focus-visible, &:active {
    outline: $primary-color-hover;
    outline: 2px solid $text-dark !important;
    outline-offset:1px;
    box-shadow: unset !important;
    color:$text-primary !important;
  }
}

.btn-icon {
  font-size: 1.25rem;
  color: $primary-color;
  border: 2px solid transparent;
  font-family: "Font Awesome 6 Free";
  i::before{
    font-weight: 900 !important;
  }
  &:hover {
    background-color: #B5B0C5;
    color:$text-dark;
  }
}
