dt {
  font-weight: 600;
}

dd {
  margin-bottom: 0;
}

.list-group {
  border-radius: 0;
}

.list-group-item {
  background-color: #fff;
  border-color: $border-color !important;
}

.list-group-item:hover {
  background-color: $bg-dark;
}

@media (max-width: 767px) {
  .list-group-item:hover {
    background-color: #fff;
  }
}

.li-header {
  background-color: transparent;
}

.li-header span {
  font-weight: 600;
}

.li-header:hover {
  background-color: inherit;
}

@media (max-width: 767px) {
  .list-group-item:hover {
    background-color: #fff;
  }
}
