.modal {
  padding-top: 2.75rem;
}

@media (max-width: 576px) {
  .modal {
    margin-top: 1.25rem;
  }
}

.modal-content {
  background-color: $bg-secondary !important;
}

.modal-header, .modal-body, .modal-footer {
  border-color: #B5B0C5 !important;
}

.modal-header {
  padding: 0.625rem 1rem;
}

.modal-footer {
  justify-content: space-between;
}
