h1{
  color: $text-secondary !important;
}

.text-primary {
  color: $text-primary !important;
}

.text-secondary {
  color: $text-secondary !important;
}

.invalid-feedback {
  color: $text-warn-color;
}

.form-control, .form-label, .form-text {
  color: $text-gray-color;
}
