.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.h64 {
  min-height: 4rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.flex-center {
  display: flex;
  align-items: center;
}

.spacer {
  flex: 1 1 auto;
}

.border-secondary {
  border-color: #B5B0C5 !important;
}

.gap {
  gap: 16px 0;
}
