.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.h64 {
  min-height: 4rem;
  padding: 0.5rem 0;
}

.flex-center {
  display: flex;
  align-items: center;
}

.spacer {
  flex: 1 1 auto;
}

.border-secondary {
  border-color: #B5B0C5 !important;
}

.list-group {
  border-radius: 0;
}

.list-group-item {
  background-color: $bg-secondary;
  border-color:#D3CED7 !important;
}

.list-group-item:nth-child(2n) {
  background-color: $bg-dark;
}
