$primary-color: #362569;
$secondary-color: #ededed;
$dark-color: #212529;
$text-primary: $secondary-color;
$text-secondary: $primary-color;
$text-dark: $dark-color;
$bg-primary: $primary-color;
$bg-secondary: $secondary-color;
$primary-color-hover: #2e1f59;
