$primary-color: #362569;
$secondary-color: #ededed;
$dark-color: #212529;
$text-primary: $secondary-color;
$text-secondary: $primary-color;
$text-dark: $dark-color;
$bg-primary: $primary-color;
$bg-secondary: $secondary-color;
$bg-dark: #D9D9D9;
$primary-color-hover: #2e1f59;
$border-color: #B5B0C5;
$text-warn-color: #D12232;
$text-gray-color: #6B6B6B;
