<div class="h64 flex-center border-bottom border-secondary mb-4">
  <div class="container-xxl d-flex flex-wrap justify-content-between">
    <h1 class="h2 mb-0">{{event.name}}</h1>
    <a [routerLink]="['/edit', event.id]" class="col-auto btn btn-primary">Edytuj spotkanie</a>
  </div>
</div>
<div class="main-content container-xxl mb-5">
  <section class="row justify-content-center">
    <section class="col-12">
      <h2 class="h5 mb-3">Szczegóły dotyczące spotkania "{{event.name}}"</h2>
      <dl class="row gap">
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="bg-white px-3 py-2">
            <dt>Opis:</dt>
            <dd *ngIf="event.description !== ''">{{event.description}}</dd>
            <dd *ngIf="event.description === ''">–</dd>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="bg-white px-3 py-2">
            <dt>Długość spotkania:</dt>
            <dd>{{event.getSurveyDurationHHMM()}}</dd>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="bg-white px-3 py-2">
            <dt>Zajętość slotów:</dt>
            <dd>{{event.slotsTaken}}/{{event.maxUsers}}</dd>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="bg-white px-3 py-2">
            <dt>Długość przerwy:</dt>
            <dd>{{event.surveyBreakTime}} minut</dd>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="bg-white px-3 py-2">
            <dt>Początkowa data okresu zapisów:</dt>
            <dd>{{event.researchStartDate}}</dd>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="bg-white px-3 py-2">
            <dt>Końcowa data okresu zapisów:</dt>
            <dd>{{event.researchEndDate}}</dd>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="bg-white px-3 py-2">
            <dt>Data zakończenia zapisów:</dt>
            <dd>{{event.endDate}}</dd>
          </div>
        </div>
      </dl>
    </section>
    <section class="col-12">
      <h2 class="h5 mt-4 mb-3">Dostępność</h2>
      <div class="row calendar">
        <div class="col-12 col-sm-6 col-lg-4" *ngFor="let availability of availabilityList; let i=index">
          <div class="c-card">
            <div class="c-card-header">
              <p class="mb-0 ps-2">{{availability.dayOfWeek}}<br><span class="smaller">{{ availability.dateFormatted }}</span></p>
            </div>
            <div class="c-card-body">
              <div class="slot" *ngFor="let hours of availability.hoursList">
                <p class="mb-0 ps-2">{{hours.toString()}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</div>
