.gap div div {
  border-radius: 0.25rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.list-group-item {
  padding:1rem;
}

.li-header {
  font-weight: 600 !important;
}

.btn-list {
  margin: -1rem -0.75rem -0.75rem 0.5rem;
}
