.gap div div {
  border-radius: 0.25rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.list-group {
  box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.1);
  .list-group-item:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  .list-group-item:last-child {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
}

.list-group-item {
  padding:1rem;
}

.list-group-item:hover {
  background-color: #fff;
}

.li-header {
  font-weight: 600 !important;
  &:hover {
    background-color: transparent;
  }
}

.btn-list {
  margin: -1rem -0.75rem -0.75rem 0.5rem;
}
