<div class="h64 flex-center border-bottom border-secondary mb-5">
  <div class="container-xxl">
    <h1 class="h2 mb-0">Zmień hasło</h1>
  </div>
</div>
<div class="main-content container-xxl mb-4">
  <div class="row justify-content-center">
    <section class="col-12 col-sm-8 col-md-6 col-lg-4">
      <form [formGroup]="formGroup">
        <fieldset class="form">
          <legend class="h5 mb-3">Formularz zmiany hasła</legend>
          <div class="form-outline mb-3 pb-1">
            <input [type]="oldPasswdShown ? 'text': 'password'"
                   id="oldPassword"
                   name="oldPassword"
                   formControlName="oldPassword"
                   aria-describedby="oldPasswdError oldPasswdError2 oldPasswdError3 oldPasswdError4 oldPasswdHelper oldPasswdHints"
                   required
                   class="form-control input-with-button"
                   [class.is-invalid]="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)">
            <label for="oldPassword"
                   class="form-label">
              Stare hasło
              <span class="sr-only" *ngIf="oldPasswdShown">widoczne</span>
            </label>
            <button class="btn btn-outline-primary show-passwd-btn"
                    type="button"
                    [attr.title]="buttonTitle1"
                    (click)="passwordShowToggler()">
              <ng-container *ngIf="!oldPasswdShown">
                <fa-icon [icon]="eye"></fa-icon>
                <span class="sr-only">Pokaż hasło</span>
              </ng-container>
              <ng-container *ngIf="oldPasswdShown">
                <fa-icon [icon]="eyeSlash"></fa-icon>
                <span class="sr-only">Ukryj hasło</span>
              </ng-container>
            </button>
            <div *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)" class="invalid-feedback">
              <p *ngIf="oldPassword.errors?.['required']"
                 id="oldPasswdError"
                 class="mb-0">
                Podaj stare hasło
              </p>
            </div>
          </div>
          <div class="form-outline mb-3 pb-1">
            <input [type]="newPasswdShown ? 'text': 'password'"
                   id="newPassword"
                   name="newPassword"
                   formControlName="newPassword"
                   aria-describedby="newPasswdError newPasswdError2 newPasswdError3 newPasswdError4 newPasswdErrorHelper newPasswdErrorHints"
                   required
                   class="form-control input-with-button"
                   [class.is-invalid]="newPassword.invalid && (newPassword.dirty || newPassword.touched)">
            <label for="newPassword"
                   class="form-label">
              Nowe hasło
              <span class="sr-only" *ngIf="newPasswdShown">widoczne</span>
            </label>
            <button class="btn btn-outline-primary show-passwd-btn"
                    type="button"
                    [attr.title]="buttonTitle2"
                    (click)="passwordShowToggler2()">
              <ng-container *ngIf="!newPasswdShown">
                <fa-icon [icon]="eye"></fa-icon>
                <span class="sr-only">Pokaż hasło</span>
              </ng-container>
              <ng-container *ngIf="newPasswdShown">
                <fa-icon [icon]="eyeSlash"></fa-icon>
                <span class="sr-only">Ukryj hasło</span>
              </ng-container>
            </button>
            <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)" class="invalid-feedback">
              <p *ngIf="newPassword.errors?.['required']"
                 id="newPasswdError"
                 class="mb-0">
                Podaj nowe hasło
              </p>
              <p *ngIf="newPassword.errors?.['invalidPasswordMin8']"
                 id="newPasswdError2"
                 class="mb-0">
                Hasło musi zawierać co najmniej 8 znaków
              </p>
              <p *ngIf="newPassword.errors?.['invalidPasswordDigit']"
                 id="newPasswdError3"
                 class="mb-0">
                Hasło musi składać się z co najmniej 1 cyfry
              </p>
              <p *ngIf="newPassword.errors?.['invalidPasswordLetter']"
                 id="newPasswdError4"
                 class="mb-0">
                Hasło musi składać się z co najmniej 1 litery
              </p>
            </div>
          </div>
          <div class="form-outline mb-3">
            <input [type]="repeatNewPasswdShown ? 'text': 'password'"
                   id="repeatNewPassword"
                   name="repeatNewPassword"
                   formControlName="repeatNewPassword"
                   aria-describedby="repeatNewPasswdError repeatNewPasswdError2 repeatNewPasswdError3 repeatNewPasswdError4 repeatNewPasswdError5 repeatNewPasswdErrorHelper repeatNewPasswdErrorHints"
                   required
                   class="form-control input-with-button"
                   [class.is-invalid]="repeatNewPassword.invalid && (repeatNewPassword.dirty || repeatNewPassword.touched)">
            <label for="repeatNewPassword"
                   class="form-label">
              Powtórz nowe hasło
              <span class="sr-only" *ngIf="repeatNewPasswdShown">widoczne</span>
            </label>
            <button class="btn btn-outline-primary show-passwd-btn"
                    type="button"
                    [attr.title]="buttonTitle3"
                    (click)="passwordShowToggler3()">
              <ng-container *ngIf="!repeatNewPasswdShown">
                <fa-icon [icon]="eye"></fa-icon>
                <span class="sr-only">Pokaż hasło</span>
              </ng-container>
              <ng-container *ngIf="repeatNewPasswdShown">
                <fa-icon [icon]="eyeSlash"></fa-icon>
                <span class="sr-only">Ukryj hasło</span>
              </ng-container>
            </button>
            <div *ngIf="repeatNewPassword.invalid && (repeatNewPassword.dirty || repeatNewPassword.touched)"
                 class="invalid-feedback">
              <p *ngIf="repeatNewPassword.errors?.['required']"
                 id="repeatNewPasswdError"
                 class="mb-0">
                Podaj nowe hasło
              </p>
              <p *ngIf="repeatNewPassword.errors?.['invalidPasswordMin8']"
                 id="repeatNewPasswdError2"
                 class="mb-0">
                Hasło musi zawierać co najmniej 8 znaków
              </p>
              <p *ngIf="repeatNewPassword.errors?.['invalidPasswordDigit']"
                 id="repeatNewPasswdError3"
                 class="mb-0">
                Hasło musi składać się z co najmniej 1 cyfry
              </p>
              <p *ngIf="repeatNewPassword.errors?.['invalidPasswordLetter']"
                 id="repeatNewPasswdError4"
                 class="mb-0">
                Hasło musi składać się z co najmniej 1 litery
              </p>
            </div>
            <div class="invalid">
              <p *ngIf="formGroup.hasError('passwordMismatch')"
                 id="repeatNewPasswdError5"
                 class="mb-0">
                Hasła nie są takie same.
              </p>
            </div>
          </div>
          <p id="newPasswdHelper" class="form-text mb-0">
            Hasło musi zawierać:
          </p>
          <ul class="ps-3" id="newPasswdHints">
            <li class="form-text">
              co najmniej 8 znaków
            </li>
            <li class="form-text">
              co najmniej jedną literę
            </li>
            <li class="form-text">
              co najmniej jedną liczbę
            </li>
          </ul>
        </fieldset>
        <div class="d-flex justify-content-between">
          <a [routerLink]="['/users/'+ authService.getUserId() +'/appointments']"
             class="btn btn-outline-primary"
          >
            Anuluj
          </a>
          <button type="submit"
                  class="btn btn-primary"
                  (click)="save()"
          >
            Zmień hasło
          </button>
        </div>
      </form>
    </section>
  </div>
</div>
