<ng-template #content>
  <div class="modal-header">
    <h3 class="modal-title" id="modalTitle">
      Zgody użytkownika
    </h3>
    <button type="button"
            class="btn-close"
            aria-label="Zamknij modal"
            (click)="closeModal()">
      <span class="d-none">Zamknij modal</span>
    </button>
  </div>
  <div class="modal-body">
    <ol class="mb-0 ps-0">
      <ng-container *ngFor="let consent of allConsents">
        <li class="ms-4 my-2">
          {{ consent.content }}<br>
          <span class="text-success" *ngIf="isConsentInList(consent.content); else notPresent">
            Użytkownik wyraził zgodę.
          </span>
          <ng-template #notPresent>
            <span class="text-danger">
              Użytkownik nie wyraził zgody.
            </span>
          </ng-template>
        </li>
      </ng-container>
    </ol>
  </div>
  <div class="modal-footer px-0">
    <div class="w-100 row m-0 justify-content-end">
      <div class="col-6 col-sm-auto">
        <button type="submit"
                class="w-100 btn btn-primary"
                (click)="closeModal()">
          Zamknij
        </button>
      </div>
    </div>
  </div>
</ng-template>
