<div class="h64 flex-center border-bottom border-secondary mb-5">
  <div class="container-xxl d-flex flex-wrap justify-content-between">
    <h1 class="h2 mb-0">Spotkanie dot. makiety Facebook 3.0</h1>
  </div>
</div>
<div class="main-content container-xxl mb-5">
  <div class="row justify-content-center">
    <section class="col-12 col-md-10 col-lg-8 text-center">
      <h2 class="h5 mb-1">Spotkanie zostało umówione</h2>
      <p>piątek, 12 maja 2023 09:00 - 10:30</p>
    </section>
  </div>
</div>
