<div class="h64 flex-center border-bottom border-secondary mb-5">
  <div class="container-xxl d-flex flex-wrap justify-content-between">
    <h1 class="h2 mb-0">{{formEventName}}</h1>
  </div>
</div>
<div class="main-content container-xxl mb-5">
  <div class="row justify-content-center">
    <section class="col-12 col-md-10 col-lg-6 col-xl-5 text-center">
      <h2 class="h5 mb-1">Spotkanie zostało umówione</h2>
      <p class="mb-0">Organizator spotkanie skontaktuje się z Tobą mailowo i przekaże potrzebne informacje do spotkania.</p>
      <p>Termin spotkania: <strong>{{formEventDate}}</strong></p>
    </section>
  </div>
</div>
