.button-in-input {
  position: absolute;
  bottom: 0;
  right: 0;
  button {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    margin-left:-1px;
  }
}

.buttons-in-input {
   position: absolute;
   bottom: 0;
   right: 0;
   button {
     border-top-left-radius: 0 !important;
     border-bottom-left-radius: 0 !important;
     margin-left:-1px;
   }
   button:first-child {
     border-radius: 0 !important;
   }
 }

.form-outline .form-label {
  transform: translateY(-1rem) translateY(0.1rem) scale(0.8);
  background-color: #ededed;
  padding-top: 0;
  top: 0.25rem;
}
