<div class="h64 flex-center border-bottom border-secondary mb-5">
  <div class="container-xxl d-flex flex-column flex-sm-row justify-content-between">
    <h1 class="h2 mb-0" id="pageTitle">Lista wydarzeń</h1>
    <div class="row mt-2 mt-md-0">
      <div class="col-12 col-sm-auto">
        <a class="w-100 btn btn-primary" (click)="goToCreate()" id="id1" [routerLink]="['/create']">Dodaj wydarzenie</a>
      </div>
    </div>
  </div>
</div>
<div class="main-content container-xxl mb-4">
  <div class="row justify-content-center">
    <section class="col-12 col-md-8 col-lg-6" *ngIf="!isFetching && !events[0]">
      <p class="h4 text-dark text-center mb-3">Nie masz jeszcze zaplananowaych wydarzeń</p>
      <a class="col-12 col-md-4 btn btn-outline-primary offset-md-4" (click)="goToCreate()" [routerLink]="['/create']">Dodaj wydarzenie</a>
    </section>
    <section class="col-12" *ngIf="events[0]">
      <ul class="list-group d-none d-md-block" role="table" aria-labelledby="pageTitle">
        <li class="list-group-item p-3 li-header d-block" role="rowgroup">
          <div class="row" role="row">
            <div class="col-2" role="columnheader">Status:</div>
            <div class="col-3" role="columnheader">Nazwa wydarzenia:</div>
            <div class="col-2 col-lg-3" role="columnheader">Czas trwania:</div>
            <div class="col-3" role="columnheader">Data zakończenia zapisów:</div>
            <div class="col-1 text-end" role="columnheader">Sloty:</div>
          </div>
        </li>
        <li class="list-group-item d-block" role="rowgroup" *ngFor="let event of events">
          <a [routerLink]="['/event/', event.id]" class="p-3 d-block">
          <div class="row" role="row">
            <div class="col-2" role="cell">{{ event.isActive() }}</div>
            <div class="col-3" role="cell">{{ event.name }}</div>
            <div class="col-2 col-lg-3" role="cell"><span class="text-nowrap">{{ event.researchStartDate }}</span> - <span class="text-nowrap">{{ event.researchEndDate }}</span></div>
            <div class="col-3" role="cell">{{ event.endDate }}</div>
            <div class="col-1 text-end" role="cell">{{ event.slotsTaken }}/{{ event.maxUsers }}</div>
          </div>
          </a>
        </li>
      </ul>

      <ul class="list-group d-block d-md-none" aria-labelledby="pageTitle">
        <li class="list-group-item d-flex p-3 flex-column pb-1 pb-sm-3" *ngFor="let event of events">
          <dl class="row align-items-center mb-0" style="gap: 0.5rem 0;">
            <dt class="col-5 col-sm-4 text-end">Status:</dt>
            <dd class="col-7 col-sm-8">{{ event.isActive() }}</dd>
            <dt class="col-5 col-sm-4 text-end">Nazwa wydarzenia:</dt>
            <dd class="col-7 col-sm-8">{{ event.name }}</dd>
            <dt class="col-5 col-sm-4 text-end">Czas trwania:</dt>
            <dd class="col-7 col-sm-8">{{ event.researchStartDate }} - {{ event.researchEndDate }}</dd>
            <dt class="col-5 col-sm-4 text-end">Data zakończenia zapisów:</dt>
            <dd class="col-7 col-sm-8">{{ event.endDate }}</dd>
            <dt class="col-5 col-sm-4 text-end">Sloty:</dt>
            <dd class="col-7 col-sm-8">{{ event.slotsTaken }}/{{ event.maxUsers }}</dd>
          </dl>
          <div class="row justify-content-end mb-2 mt-1 px-3 mb-sm-0 mt-sm-0 px-sm-0">
            <a class="col-12 col-sm-auto bg-white col-auto btn btn-outline-primary me-0 me-sm-2 mt-2 mt-sm-0" [routerLink]="['/event/', event.id]">Szczegoły wydarzenia</a>
          </div>
        </li>
      </ul>
    </section>
  </div>
</div>
