<div class="h64 flex-center border-bottom border-secondary mb-5">
  <div class="container-xxl d-flex flex-wrap justify-content-between">
    <h1 class="h2 mb-0">Twoje spotkania</h1>
    <a routerLink="../create" class="col-12 col-md-auto btn btn-outline-primary">Dodaj spotkanie</a>
  </div>
</div>
<div class="main-content container-xxl mb-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6" *ngIf="!data[0]">
      <p class="h3 text-secondary text-center">brak zaplanowanych spotkań</p>
      <a routerLink="../create" class="col-12 col-md-6 btn btn-primary offset-md-3">Dodaj spotkanie</a>
    </div>
    <div class="col-12" *ngIf="data[0]">
      <ul class="list-group">
        <li class="list-group-item py-3 px-3 d-flex justify-content-between"
            *ngFor="let item of data">
          <span>{{ item.name }}</span> <span>{{ item.slotsTaken }}/{{ item.maxUsers }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
