@import 'src/app/styles/variables';

li {
  padding:0;
}

.list-group {
  box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.1);
  a {
    //padding: 1rem 1rem;
    //display: flex;
    //justify-content: space-between;
    color:$text-dark;
    text-decoration: none;
  }
  .list-group-item:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  .list-group-item:last-child {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
}

.li-header {
  font-weight: 600 !important;
}

a.btn-outline-primary {
  color: $primary-color !important;
  &:hover, &:focus {
    color: $secondary-color !important;
  }
}
