<div class="h64 flex-center border-bottom border-secondary mb-5">
  <div class="container-xxl">
    <h1 class="h2 mb-0">Przypomnij hasło</h1>
  </div>
</div>
<div class="main-content container-xxl mb-4">
  <div class="row justify-content-center">
    <section class="col-12 col-sm-8 col-md-6 col-lg-4">
      <form [formGroup]="formGroup">
        <fieldset class="form">
          <legend class="h5 mb-3">Formularz przypominania hasła</legend>
          <p>Przypomnienie hasła spowoduje wygenerowanie tymczasowego hasła, które przekaże Ci administrator.</p>
          <div class="form-outline mb-3">
            <input type="text"
                   id="login"
                   name="login"
                   formControlName="login"
                   aria-describedby="loginError"
                   required
                   class="form-control"
                   [class.is-invalid]="login.invalid && (login.dirty || login.touched)">
            <label for="login"
                   class="form-label">
              Login
            </label>
            <div *ngIf="login.invalid && (login.dirty || login.touched)" class="invalid-feedback">
              <p *ngIf="login.errors?.['required']"
                 id="loginError"
                 class="mb-0">
                Podaj login
              </p>
            </div>
          </div>
        </fieldset>
        <div class="d-flex justify-content-between">
          <a href="#"
             class="btn btn-outline-primary">
            Anuluj
          </a>
          <button type="submit"
                  class="btn btn-primary"
                  (click)="save()"
          >
            Przypomnij hasło
          </button>
        </div>
      </form>
    </section>
  </div>
</div>
