$primary-color: #362569;
$secondary-color: #ededed;
$dark-color: #212529;
$text-primary: #ededed;
$text-secondary: #362569;
$text-dark: #212529;
$bg-primary: #362569;
$bg-secondary: #ededed;
$primary-color-hover: #2e1f59;
