<header>
  <div class="container-xxl h64">
    <nav class="navbar navbar-expand-lg bg-body-tertiary py-0">
      <a [routerLink]="['/appointments']" class="navbar-brand pb-1 mt-1" aria-label="Easy visit">easy <span class="smaller">visit</span></a>
      <ng-container *ngIf="displayMenu$ | async">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mb-2 mb-lg-0" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mt-2 mt-lg-0">
            <li class="nav-item" [routerLinkActive]="['active']">
              <a class="nav-link ps-2" routerLink="appointments">Lista wydarzeń</a>
            </li>
          </ul>
  <!--        <div class="spacer"></div>-->
  <!--        <a href="#" class="d-block ms-auto log-out text-end">Wyloguj się</a>-->
        </div>
      </ng-container>
    </nav>
  </div>
</header>
