@import 'src/app/app.component.scss';
@import 'src/app/styles/app';

*:focus {
  outline: 3px solid #ededed !important;
  outline-offset: 1px !important;
}

header {
  background: $bg-primary;
}

.navbar-brand {
  line-height: 1.125;
  font-size: $h1-font-size;
  color: $text-primary;
  display: inline-block;
  transform: translate(0, -0.5rem);
  cursor: pointer;
  border-bottom:0.125rem solid transparent;
  padding-bottom: 0.75rem;
  margin-top: 0.25rem;
  margin-bottom: -0.5rem;
  .smaller {
    display: inline-block;
    font-size: $h3-font-size;
    transform: translate(-0.5rem, 0.25rem);
  }
  &:hover, &:focus {
    color: $text-primary;
    border-color: $bg-secondary;
  }
}

.nav-link{
  font-size: 1.125rem;
  color: $text-primary !important;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-offset: 0.375rem;
  text-decoration-thickness: 2px;
  &:hover, &:focus {
    background-color: #20163f;
  }
}

.nav-item.active{
  .nav-link{
    text-decoration-style: solid;
  }
}

.log-out {
  font-size: 1rem;
  color: $text-primary !important;
  text-decoration: underline;
  //text-decoration-style: dotted;
  text-underline-offset: 0.375rem;
  text-decoration-thickness: 2px;
  padding: 0.5rem 0.5rem;
  &:hover, &:focus {
    background-color: #20163f;
  }
}

.navbar-toggler {
  border:0;
  display: flex;
  flex-flow: column;
  gap:0.25rem;
  span {
    background: $secondary-color;
    width: 1.5em;
    height: 0.125rem;
    margin: 0.125rem 0;
  }
}

.skiplink {
  position: absolute;
  top: calc(-0.5rem + 3px);
  left: calc(-0.75rem + 3px);
  padding: 1.175rem 1rem;
  z-index: 99999;
  color: $text-dark !important;
}
