<header>
  <div class="visually-hidden"
       aria-hidden="true"
       tabindex="0"
       id="focusReset">
  </div>
  <div class="container-xxl h64">
    <nav class="navbar navbar-expand-lg py-0">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link skiplink sr-only-focusable bg-white"
             [href]="this.route + '#maincontent'"
             id="skiplink"
          >
            Przejdź do treści
          </a>
        </li>
      </ul>
      <a [routerLink]="['/appointments']"
         *ngIf="authService.token"
         class="navbar-brand me-auto"
         aria-label="Przejdź do strony głównej">
        easy <span class="smaller">visit</span>
      </a>
      <a [routerLink]="['/login']"
         *ngIf="!authService.token"
         class="navbar-brand me-auto"
         aria-label="Przejdź do strony głównej">
        easy <span class="smaller">visit</span>
      </a>
      <button *ngIf="displayMenu$ | async"
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarList"
              aria-controls="navbarList"
              aria-expanded="false"
              aria-label="Otwórz menu">
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse mb-2 mb-lg-0"
           id="navbarList">
        <ul *ngIf="displayMenu$ | async"
            class="navbar-nav me-auto mt-2 mt-lg-0">
          <li class="nav-item d-flex"
              [routerLinkActive]="['active']">
            <a class="nav-link px-2"
               routerLink="appointments">
              Lista wydarzeń
            </a>
          </li>
        </ul>
        <div class="spacer"></div>
<!--        <p *ngIf="displayMenu$ | async"-->
<!--           class="d-block ms-auto text-white text-end mb-0 me-lg-4">-->
<!--          Rola: rekruter-->
<!--        </p>-->
<!--        <p *ngIf="!(displayMenu$ | async)"-->
<!--           class="d-block ms-auto text-white text-end mb-0">-->
<!--          Rola: rekrutowany-->
<!--        </p>-->
        <p *ngIf="authService.userLogin"
           class="d-block ms-auto text-white text-end mb-0 me-2">
          {{authService.userLogin}}
        </p>
        <div class="d-flex justify-content-end">
          <a [routerLink]="['/login']"
             (click)="deleteToken()"
             *ngIf="authService.isLoggedIn()"
             class="log-out text-end">
            Wyloguj się
          </a>
        </div>
      </div>
    </nav>
  </div>
  <app-alerts></app-alerts>
</header>
