<div class="h64 flex-center border-bottom border-secondary mb-4">
  <div class="container-xxl d-flex flex-wrap justify-content-between">
    <h1 class="h2 mb-0">{{formEventName}}</h1>
  </div>
</div>
<div class="main-content container-xxl mb-5">
  <div class="row justify-content-center">
    <section class="col-12 col-md-10 col-lg-8">
      <h2 class="h5 mb-3">Zapisz się na badanie</h2>
      <dl class="row gap mb-3">
        <div class="col-12 col-sm-6">
          <div class="bg-white px-3 py-2">
            <dt>Długość badania:</dt>
            <dd>{{formSurveyDuration}} minut</dd>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="bg-white px-3 py-2">
            <dt>Data zakończenia zapisów:</dt>
            <dd>
              <time>{{formatDate(formEventEndDate)}}</time>
            </dd>
          </div>
        </div>
      </dl>
      <div class="row">
        <p class="mb-1">W tych terminach możesz się umówić na badanie</p>
        <ul>
          <ng-container *ngFor="let availability of availabilityList">
            <li class="ms-4">{{availability.dayOfWeek}}, {{availability.dateFormatted}}: {{availability.hoursList}}</li>
          </ng-container>
        </ul>
      </div>
      <form class="row mt-1" [formGroup]="form">
        <div class="col-12 col-md-6">
          <div class="form-outline mb-3">
            <select class="form-select"
                    id="dayChoice"
                    required
                    formControlName="dayChoice"
                    aria-describedby="dayChoiceHelper"
                    aria-labelledby="dayChoiceError"
                    [class.is-invalid]="dayChoice.invalid && (dayChoice.dirty || dayChoice.touched)"
                    (change)="filterHoursList()"
                    [(ngModel)]="selectedDay">
              <option *ngFor="let availability of availabilityList"
                      [value]="availability.date.toDateString()">{{availability.dateFormatted}}
                - {{availability.dayOfWeek}}</option>
            </select>
            <label for="dayChoice" class="form-label">Dzień spotkania</label>
            <div *ngIf="dayChoice.invalid && (dayChoice.dirty || dayChoice.touched)" class="invalid-feedback">
              <p *ngIf="dayChoice.errors?.['required']" id="dayChoiceError" class="mb-0">Wybierz dzień spotkania</p>
            </div>
            <p id="dayChoiceHelper" class="form-text">Wybierz dzień spośród dostępnych</p>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-outline mb-3">
            <select class="form-select"
                    id="hourChoice"
                    required
                    formControlName="hourChoice"
                    aria-describedby="hourChoiceHelper"
                    aria-labelledby="hourChoiceError"
                    [class.is-invalid]="hourChoice.invalid && (hourChoice.dirty || hourChoice.touched)"
                    [(ngModel)]="selectedHour">
              <ng-container *ngIf="filteredHoursList.length > 0">
                <option *ngFor="let hours of filteredHoursList"
                        [value]="hours">
                  {{hours}}
                </option>
              </ng-container>
              <ng-container *ngIf="filteredHoursList.length == 0">
                <option [value]="">-</option>
              </ng-container>
            </select>
            <label for="hourChoice" class="form-label">Godzina spotkania</label>
            <div *ngIf="hourChoice.invalid && (hourChoice.dirty || hourChoice.touched)" class="invalid-feedback">
              <p *ngIf="hourChoice.errors?.['required']" id="hourChoiceError" class="mb-0">Wybierz godzinę spotkania</p>
              <p *ngIf="hourChoice.errors?.['min']" id="hourChoiceError2" class="mb-0">Wybierz dzień spotkania</p>
            </div>
            <p id="hourChoiceHelper" class="form-text">Wybierz odpowiadającą Ci godzinę</p>
          </div>
        </div>
        <ng-container *ngFor="let item of consentList">
          <div class="col-12">
            <div class="form-check">
              <input class="form-check-input"
                     type="checkbox"
                     [id]="item.id"
                     [name]="item.id"
                     [formControlName]="item.id"
                     [required]="item.mandatory"
                     [attr.aria-describedby]="item.id + 'Error'"
                     [class.is-invalid]="item.mandatory && consentFromId(item.id).invalid && (consentFromId(item.id).dirty || consentFromId(item.id).touched)">
              <label class="form-check-label text-dark"
                     [for]="item.id">
                {{item.content}} <span class="text-danger" aria-hidden="true" *ngIf="item.mandatory">*</span>
              </label>
              <div *ngIf="item.mandatory
              && consentFromId(item.id).invalid
              && (consentFromId(item.id).dirty || consentFromId(item.id).touched)"
                   class="invalid-feedback">
                <p *ngIf="consentFromId(item.id).errors?.['required']"
                   [id]="item.id + 'Error'"
                   class="mb-0">
                  Wyrażanie zgody jest wymagane.
                </p>
              </div>
            </div>
          </div>
        </ng-container>
        <div class="col-12 col-sm-auto ms-auto mt-3">
          <button type="submit"
                  class="w-100 btn btn-primary"
                  (click)="save()">
            Zapisz się
          </button>
        </div>
      </form>
    </section>
  </div>
</div>
