<app-hours-add></app-hours-add>
<div class="h64 flex-center border-bottom border-secondary mb-4">
  <div class="container-xxl">
    <h1 class="h2 mb-0">Tworzenie spotkania</h1>
  </div>
</div>
<div class="main-content container-xxl mb-5">
  <div class="row justify-content-center">
    <section class="col-12 col-lg-9">
      <h2 class="h5 mb-3">Dodaj swoją dostępność</h2>
      <div class="row calendar">
        <div class="col-12 col-sm-6 col-lg-4" *ngFor="let availability of availabilityList; let i=index">
          <div class="c-card">
            <div class="c-card-header">
              <p class="mb-0 ps-2">{{availability.dayOfWeek}}<br><span class="smaller">{{ availability.dateFormatted }}</span></p>
              <button type="button" class="btn btn-icon" title="Dodaj dostępność" (click)="hoursAddComponent.open(hoursAddComponent.content, availability)"><fa-icon [icon]="plus"></fa-icon><span class="d-none">Dodaj dostępność</span></button>
            </div>
            <div class="c-card-body">
              <div class="slot" *ngFor="let hours of availability.hoursList">
                <p class="mb-0 ps-2">{{hours.toString()}}</p>
                <button type="button" class="btn btn-icon" title="Usuń dostępność" (click)="removeHour(availability, hours)"><fa-icon [icon]="trash">Usuń</fa-icon><span class="d-none">Usuń dostępność</span></button>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-between flex-wrap row mx-0">
          <div class="col-12 col-sm-6 col-md-auto px-0">
            <a routerLink="/create" class="w-100 my-2 my-md-0 btn btn-outline-primary text-uppercase">Wstecz</a>
          </div>
          <div class="col-12 col-sm-6 col-md-auto px-0">
            <button class="w-100 my-2 my-md-0 btn btn-primary text-uppercase" type="submit" (click)="submitForm()">Dalej</button>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
