<app-show-new-password-modal></app-show-new-password-modal>
<ng-template #content>
  <form>
    <div class="modal-header">
      <h3 class="modal-title" id="modalTitle">
        Resetuj hasło użytkownika
      </h3>
      <button type="button"
              class="btn-close"
              aria-label="Zamknij modal"
              (click)="closeModal()">
        <span class="d-none">Zamknij modal</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Jeżeli użytkownik zapomniał hasła, możesz wygenerować dla niego nowe tymczasowe hasło.
        Po tej operacji jego aktualne hasło zostanie zastąpione hasłem tymczasowym.
      <p class="mb-0">Hasło wyświetli się jednorazowo w kolejnym modalu.</p>
    </div>
    <div class="modal-footer px-0">
      <div class="w-100 row m-0 justify-content-between">
        <div class="col-6 col-sm-auto">
          <button type="button"
                  class="w-100 h-100 btn btn-outline-primary"
                  (click)="closeModal()">
            Anuluj
          </button>
        </div>
        <div class="col-6 col-sm-auto">
          <button type="button"
                  class="w-100 h-100 btn btn-primary"
                  (click)="submit()">
            Resetuj hasło
          </button>
        </div>
      </div>
    </div>
  </form>
</ng-template>
