<div class="h64 flex-center border-bottom border-secondary mb-5">
  <div class="container-xxl">
    <h1 class="h2 mb-0">Tworzenie spotkania</h1>
  </div>
</div>
<div class="main-content container-xxl mb-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <form #f="ngForm" novalidate>
        <div class="mb-3 form-outline">
          <input type="text" id="nazwaSpotkania" class="form-control" value aria-labelledby="nazwaSpotkaniaHelper"
                 required name="nazwaSpotkania" ngModel #nazwaSpotkania="ngModel">
          <label for="nazwaSpotkania" class="form-label">Nazwa spotkania</label>
          <div id="nazwaSpotkaniaHelper" class="form-text">
            np. Szybkie spotkanie
          </div>
        </div>
        <div class="mb-3 form-outline">
              <textarea class="form-control" id="opisSpotkania" rows="3"
                        aria-labelledby="opisSpotkaniaHelper" name="opisSpotkania" ngModel
                        #opisSpotkania="ngModel"></textarea>
          <label for="opisSpotkania" class="form-label">Opis spotkania</label>
          <div id="opisSpotkaniaHelper" class="form-text">
            Krótki opis
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="mb-3 form-outline">
              <input type="date" id="odData" class="form-control" required aria-describedby="odDataHelper"
                     name="odData" ngModel #odData="ngModel">
              <label for="odData" class="form-label">Data rozpoczęcia</label>
              <div id="odDataHelper" class="form-text">
                Format dd.mm.yyyy
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="mb-3 form-outline">
              <input type="time" id="odCzas" class="form-control" required aria-describedby="odCzasHelper"
                     name="odCzas" ngModel #odCzas="ngModel">
              <label for="odCzas" class="form-label">Godzina rozpoczęcia</label>
              <div id="odCzasHelper" class="form-text">
                Format hh-mm
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="mb-3 form-outline">
              <input type="date" id="doData" class="form-control" required aria-describedby="doDataHelper"
                     name="doData" ngModel #doData="ngModel">
              <label for="doData" class="form-label">Data zakończenia</label>
              <div id="doDataHelper" class="form-text">
                Format dd.mm.yyyy
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="mb-3 form-outline">
              <input type="time" id="doCzas" class="form-control" required aria-describedby="doCzasHelper"
                     name="doCzas" ngModel #doCzas="ngModel">
              <label for="doCzas" class="form-label">Godzina zakończenia</label>
              <div id="doCzasHelper" class="form-text">
                Format hh-mm
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-between flex-wrap row">
          <div class="col-12 col-sm-6">
            <button class="w-100 my-2 my-md-0 btn btn-outline-primary text-uppercase">Wstecz</button>
          </div>
          <div class="col-12 col-sm-6">
            <button class="w-100 my-2 my-md-0 btn btn-primary text-uppercase" type="submit" (click)="onSubmit(f)">Dalej</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
