<div class="h64 flex-center border-bottom border-secondary mb-5">
  <div class="container-xxl">
    <h1 class="h2 mb-0">Tworzenie spotkania</h1>
  </div>
</div>
<div class="main-content container-xxl mb-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <form #f="ngForm" novalidate>
        <div class="mb-3 form-outline">
          <input type="text" id="name" class="form-control" value aria-labelledby="nameHelper"
                 required name="name" ngModel #name="ngModel">
          <label for="name" class="form-label">Nazwa spotkania</label>
          <p *ngIf="errorsMapVar.name" class="form-text error mb-0 text-danger">{{this.errorsMapVar.name}}</p>
          <p id="nameHelper" class="form-text">np. Szybkie spotkanie</p>
        </div>
        <div class="mb-3 form-outline">
              <textarea class="form-control" id="description" rows="3"
                        aria-labelledby="descriptionHelper" name="description" ngModel
                        #description="ngModel"></textarea>
          <label for="description" class="form-label">Opis spotkania</label>
          <p id="descriptionHelper" class="form-text">Krótki opis</p>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="mb-3 form-outline">
              <input type="date" id="startDate" class="form-control" required aria-describedby="startDateHelper"
                     name="startDate" ngModel #startDate="ngModel">
              <label for="startDate" class="form-label">Data rozpoczęcia</label>
              <p *ngIf="errorsMapVar.startDate" class="form-text error mb-0 text-danger">{{this.errorsMapVar.startDate}}</p>
              <p id="startDateHelper" class="form-text">Format dd.mm.yyyy</p>
            </div>
          </div>
          <div class="col-6">
            <div class="mb-3 form-outline">
              <input type="time" id="startHour" class="form-control" required aria-describedby="startHourHelper"
                     name="startHour" ngModel #startHour="ngModel">
              <label for="startHour" class="form-label">Godzina rozpoczęcia</label>
              <p id="startHourHelper" class="form-text">Format hh-mm</p>
            </div>
          </div>
          <div class="col-6">
            <div class="mb-3 form-outline">
              <input type="date" id="endDate" class="form-control" required aria-describedby="endDateHelper"
                     name="endDate" ngModel #endDate="ngModel">
              <label for="endDate" class="form-label">Data zakończenia</label>
              <p *ngIf="errorsMapVar.endDate" class="form-text error mb-0 text-danger">{{this.errorsMapVar.endDate}}</p>
              <p id="endDateHelper" class="form-text">Format dd.mm.yyyy</p>
            </div>
          </div>
          <div class="col-6">
            <div class="mb-3 form-outline">
              <input type="time" id="endHour" class="form-control" required aria-describedby="endHourHelper"
                     name="endHour" ngModel #endHour="ngModel">
              <label for="endHour" class="form-label">Godzina zakończenia</label>
              <p id="endHourHelper" class="form-text">Format hh-mm</p>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-between flex-wrap row">
          <div class="col-12 col-sm-6">
            <button class="w-100 my-2 my-md-0 btn btn-outline-primary text-uppercase">Wstecz</button>
          </div>
          <div class="col-12 col-sm-6">
            <button class="w-100 my-2 my-md-0 btn btn-primary text-uppercase" type="submit" (click)="onSubmit(f)">Dalej</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
