<div class="h64 flex-center border-bottom border-secondary mb-5">
  <div class="container-xxl">
    <h1 class="h2 mb-0">Tworzenie spotkania</h1>
  </div>
</div>
<div class="main-content container-xxl mb-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <form [formGroup]="reactiveForm" #form="ngForm">
        <div class="form-outline mb-3">
          <input type="text" id="name" name="name" formControlName="name" aria-describedby="nameHelper"
                 aria-labelledby="nameError"
                 required minlength="1" maxlength="250" class="form-control"
                 [class.is-invalid]="name.invalid && (name.dirty || name.touched)">
          <label for="name" class="form-label">Nazwa spotkania</label>
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="invalid-feedback">
            <p *ngIf="name.errors?.['required']" id="nameError" class="mb-0">Podaj nazwę wydarzenia</p>
          </div>
          <p id="nameHelper" class="form-text">np. Szybkie spotkanie</p>
        </div>
        <div class="mb-3 form-outline">
          <textarea class="form-control" id="description" rows="3" formControlName="description"
                    aria-describedby="descriptionHelper" name="description"></textarea>
          <label for="description" class="form-label">Opis spotkania</label>
          <p id="descriptionHelper" class="form-text">Krótki opis</p>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="mb-3 form-outline">
              <input type="time" id="duration" list="" name="nickname" formControlName="duration"
                     aria-describedby="durationHelper" aria-labelledby="durationError durationError2"
                     required class="form-control"
                     [class.is-invalid]="duration.invalid && (duration.dirty || duration.touched)">
              <label for="duration" class="form-label">Czas trwania</label>
              <div *ngIf="duration.invalid && (duration.dirty || duration.touched)" class="invalid-feedback">
                <p *ngIf="duration.errors?.['required']" id="durationError" class="mb-0">Podaj długość spotkania</p>
              </div>
              <div *ngIf="duration.invalid && (duration.dirty || duration.touched)" class="invalid-feedback">
                <p *ngIf="duration.errors?.['invalidTime']" id="durationError2" class="mb-0">Podaj czas spotkania
                  dłuższy niż 15 minut</p>
              </div>
              <p id="durationHelper" class="form-text">Format hh:mm</p>
            </div>
          </div>
          <div class="col-6">
            <div class="mb-3 form-outline">
              <select class="form-control" id="breakTime" required formControlName="breakTime"
                      aria-describedby="breakTimeHelper" aria-labelledby="breakTimeError"
                      [class.is-invalid]="breakTime.invalid && (breakTime.dirty || breakTime.touched)">
                <option value="15">15 minut</option>
                <option value="30">30 minut</option>
                <option value="45">45 minut</option>
              </select>
              <label for="breakTime" class="form-label">Przerwa</label>
              <div *ngIf="breakTime.invalid && (breakTime.dirty || breakTime.touched)" class="invalid-feedback">
                <p *ngIf="breakTime.errors?.['required']" id="breakTimeError" class="mb-0">Podaj przerwę między
                  spotkaniami</p>
              </div>
              <p id="breakTimeHelper" class="form-text">Podaj przerwę w minutach</p>
            </div>
          </div>
          <div class="col-6">
            <div class="mb-3 form-outline">
              <input type="date" id="endDate" name="endDate" formControlName="endDate" aria-describedby="endDateHelper"
                     aria-labelledby="endDateError"
                     required class="form-control"
                     [class.is-invalid]="endDate.invalid && (endDate.dirty || endDate.touched)">
              <label for="endDate" class="form-label">Data końca zapisów</label>
              <div *ngIf="endDate.invalid && (endDate.dirty || endDate.touched)" class="invalid-feedback">
                <p *ngIf="endDate.errors?.['required']" id="endDateError" class="mb-0">Podaj datę zakończenia
                  zapisów</p>
              </div>
              <p id="endDateHelper" class="form-text">Format dd-mm-rrrr</p>
            </div>
          </div>
          <div class="col-6">
            <div class="mb-3 form-outline">
              <input type="number" id="maxUsers" list="" name="maxUsers" formControlName="maxUsers"
                     aria-describedby="maxUsersHelper" aria-labelledby="maxUsersError maxUsersError2 maxUsersError3"
                     required class="form-control"
                     [class.is-invalid]="maxUsers.invalid && (maxUsers.dirty || maxUsers.touched)">
              <label for="maxUsers" class="form-label">Ilość slotów</label>
              <div *ngIf="maxUsers.invalid && (maxUsers.dirty || maxUsers.touched)" class="invalid-feedback">
                <p *ngIf="maxUsers.errors?.['required']" id="maxUsersError" class="mb-0">Podaj maksymalną liczbę
                  uczestników</p>
              </div>
              <div *ngIf="maxUsers.invalid && (maxUsers.dirty || maxUsers.touched)" class="invalid-feedback">
                <p *ngIf="maxUsers.errors?.['min']" id="maxUsersError2" class="mb-0">Podaj liczbę większą niż 0</p>
              </div>
              <div *ngIf="maxUsers.invalid && (maxUsers.dirty || maxUsers.touched)" class="invalid-feedback">
                <p *ngIf="maxUsers.errors?.['max']" id="maxUsersError3" class="mb-0">Podaj liczbę mniejszą niż 20</p>
              </div>
              <p id="maxUsersHelper" class="form-text">np. 5</p>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-between flex-wrap row">
          <div class="col-12 col-sm-6">
            <a routerLink="../" class="w-100 my-2 my-md-0 btn btn-outline-primary text-uppercase">Wstecz</a>
          </div>
          <div class="col-12 col-sm-6">
            <button class="w-100 my-2 my-md-0 btn btn-primary text-uppercase" type="submit" (click)="validate(form)">Dalej</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
