<div class="h64 flex-center border-bottom border-secondary mb-5">
  <div class="container-xxl d-flex flex-wrap justify-content-between">
    <h1 class="h2 mb-0">{{event.name}}</h1>
  </div>
</div>
<div class="main-content container-xxl mb-5">
  <div class="row justify-content-center">
    <section class="col-12 col-md-7 col-lg-5 text-center">
      <h2 class="h5 mb-1">Kod do zapisu na spotkanie wygasł</h2>
      <p>Skontaktuj się z organizatorem spotkania za pomocą maila: <a href="#">przykładowymail@gmail.com</a></p>
    </section>
  </div>
</div>
