@import "bootstrap";
@import 'app/styles/app';

body {
  background: $bg-secondary !important;
  position: relative;
}

html, body {
  height: 100%;
  margin: 0;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

app-footer {
  margin-top: auto;
}
