<ng-template #content>
  <div aria-labelledby="modalTitle">
    <div class="modal-header">
      <h3 class="modal-title" id="modalTitle">Dodaj dostępność</h3>
      <button type="button" class="btn-close" aria-label="Zamknij modal" (click)="closeModal()"><span class="d-none">Zamknij modal</span></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="hoursAddForm">
        <div class="row">
          <div class="col-6">
            <div class="mb-3 form-outline">
              <input type="time" id="startHour" name="startHour" formControlName="startHour"
                     aria-describedby="startHourHelper" aria-labelledby="startHourError"
                     required class="form-control"
                     [class.is-invalid]="startHour.invalid && (startHour.dirty || startHour.touched)">
              <label for="startHour" class="form-label">Godzina od</label>
              <div *ngIf="startHour.invalid && (startHour.dirty || startHour.touched)" class="invalid-feedback">
                <p *ngIf="startHour.errors?.['required']" id="startHourError" class="mb-0">Podaj początkowy zakres</p>
              </div>
              <p id="startHourHelper" class="form-text">Format hh:mm</p>
            </div>
          </div>
          <div class="col-6">
            <div class="mb-3 form-outline">
              <input type="time" id="endHour" name="endHour" formControlName="endHour"
                     aria-describedby="endHourHelper" aria-labelledby="endHourError"
                     required class="form-control"
                     [class.is-invalid]="endHour.invalid && (endHour.dirty || endHour.touched)">
              <label for="endHour" class="form-label">Godzina do</label>
              <div *ngIf="endHour.invalid && (endHour.dirty || endHour.touched)" class="invalid-feedback">
                <p *ngIf="endHour.errors?.['required']" id="endHourError" class="mb-0">Podaj końcowy zakres</p>
              </div>
              <p id="endHourHelper" class="form-text">Format hh:mm</p>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary text-uppercase" (click)="closeModal()">Anuluj</button>
      <button type="button" class="btn btn-primary text-uppercase" (click)="saveAvailability()" id="saveHours">Zapisz</button>
    </div>
  </div>
</ng-template>
