<ng-template #content>
  <form>
    <div class="modal-header">
      <h3 class="modal-title" id="modalTitle">
        Nowe tymczasowe hasło
      </h3>
      <button type="button"
              class="btn-close"
              aria-label="Zamknij modal"
              (click)="closeModal()">
        <span class="d-none">Zamknij modal</span>
      </button>
    </div>
    <div class="modal-body">
      <p class="mb-3" id="richText">Wygenerowano nowe hasło do logowania, przekaż je użytkownikowi.</p>
      <div class="form-outline mb-4 position-relative">
        <input [type]="isPasswordShown ? 'text': 'password'"
               id="password"
               name="password"
               aria-describedby="richText2"
               class="form-control ng-valid input-with-button"
               value="{{newPassword}}"
               readonly
        >
        <label for="password"
               class="form-label">
          Hasło tymczasowe:
        </label>
        <div class="buttons-in-input">
          <button class="btn btn-outline-primary"
                  type="button"
                  [attr.title]="buttonTitle"
                  style="min-width: 45.6px;"
                  (click)="passwordShowToggler()">
            <ng-container *ngIf="!isPasswordShown">
              <fa-icon [icon]="eye" aria-hidden="true"></fa-icon>
              <span class="sr-only">Pokaż hasło</span>
            </ng-container>
            <ng-container *ngIf="isPasswordShown">
              <fa-icon [icon]="eyeSlash" aria-hidden="true"></fa-icon>
              <span class="sr-only">Ukryj hasło</span>
            </ng-container>
          </button>
          <button class="btn btn-outline-primary"
                  type="button"
                  title="Skopiuj hasło do schowka"
                  style="min-width: 45.6px;"
                  (click)="copyToClipboard(newPassword)">
            <fa-icon [icon]="copy" aria-hidden="true"></fa-icon>
            <span class="sr-only">Skopiuj hasło do schowka</span>
          </button>
        </div>
      </div>
    </div>
    <div class="modal-footer px-0">
      <div class="w-100 row m-0 justify-content-between">
        <div class="col-6 col-sm-auto">
        </div>
        <div class="col-6 col-sm-auto">
          <button type="button"
                  class="w-100 h-100 btn btn-primary"
                  (click)="closeModal()">
            Zamknij modal
          </button>
        </div>
      </div>
    </div>
  </form>
</ng-template>
